<h1>Listing logotypes</h1>

<table>
  <tr>
    <th>Font</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @logotypes.each do |logotype| %>
  <tr>
    <td><%= logotype.font_id %></td>
    <td><%= logotype.project_id %></td>
    <td><%= link_to 'Show', logotype %></td>
    <td><%= link_to 'Edit', edit_logotype_path(logotype) %></td>
    <td><%= link_to 'Destroy', logotype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Logotype', new_logotype_path %>
